# Common
node_modules/
.env
.env.local
.DS_Store
*.log

# Client (React + Vite)
client/node_modules/
client/dist/
client/.env

# Server (Express + TS)
server/node_modules/
server/dist/
server/build/
server/.env
server/*.tsbuildinfo
