body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.btnn {
    border: none;
    padding: 10px; 
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 35px;
    /* margin: 10px; */
    transition: background-color 0.3s ease;
    outline: none;
}

.btnn:hover {
    background-color: #4CAF50;
}
.bnn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #008CBA;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.bnn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}